{% extends 'base.html.twig' %}

{% block title %}About us | {{ parent() }}{% endblock %}

{% block main %}
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam delectus, dicta dolorem dolorum facere illo magni natus nihil, pariatur perferendis perspiciatis quaerat quam tempore, vel. Error repellat tempora voluptatibus!</p>

{% endblock %}

