{# commentaires twig #}
{# templates/default/home.html.twig #}
{% extends 'base.html.twig' %}

{% block main %}
    <h2>Legal stuff</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam delectus, dicta dolorem dolorum facere illo magni natus nihil, pariatur perferendis perspiciatis quaerat quam tempore, vel. Error repellat tempora voluptatibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam delectus, dicta dolorem dolorum facere illo magni natus nihil, pariatur perferendis perspiciatis quaerat quam tempore, vel. Error repellat tempora voluptatibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam delectus, dicta dolorem dolorum facere illo magni natus nihil, pariatur perferendis perspiciatis quaerat quam tempore, vel. Error repellat tempora voluptatibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam delectus, dicta dolorem dolorum facere illo magni natus nihil, pariatur perferendis perspiciatis quaerat quam tempore, vel. Error repellat tempora voluptatibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam delectus, dicta dolorem dolorum facere illo magni natus nihil, pariatur perferendis perspiciatis quaerat quam tempore, vel. Error repellat tempora voluptatibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam delectus, dicta dolorem dolorum facere illo magni natus nihil, pariatur perferendis perspiciatis quaerat quam tempore, vel. Error repellat tempora voluptatibus!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam delectus, dicta dolorem dolorum facere illo magni natus nihil, pariatur perferendis perspiciatis quaerat quam tempore, vel. Error repellat tempora voluptatibus!</p>
{% endblock %}

{% block title %}Legal | {{ parent() }}{% endblock %}
